body 
{
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
	margin: 0;
}

#container 
{
	width: 100%;
}

h2, h3, p
{
	margin: 0;
}

/*Header*/
header
{
	display: flex;
	flex-direction: column;
	width: 90.5vw;
    margin-left: 4.7vw;
}

/*Header du header*/
.header-du-header
{
	display: flex;
	justify-content: space-between;
}

.logo
{
	background-image: url(images/logo.png);
    width: 7vw;
    height: 3vw;
    background-repeat: no-repeat;
    margin-top: 3.55vw;
}

nav ul
{
	display: flex;
	margin: 0;
	list-style: none;
}

nav li
{
	border-top: 0.15vw solid white;
	padding-top: 3.55vw;
	margin-left: 3.5vw;
}

nav li:hover
{
	border-top: 0.15vw solid #0065FC;
}

nav a
{
	font-size: 1em;
	color: black;
	text-decoration: none;
}

nav a:hover
{
	color: #0065FC;
}

.sinscrire
{
	font-size: 1em;
	font-weight: bold;
	color: #0065FC 
}

.sinscrire:hover
{
	border-top: 0.15vw solid white;
}

/*Présentation*/
.presentation
{
	display: flex;
	flex-direction: column;
}

.titre-presentation-h2
{
	font-size: 1.2em;
}

.titre-presentation
{
	margin-top: 2vw;
}

.txt-presentation
{
	margin: 1vw 0 1.3vw 0;
}

.presentation p
{
	font-size: 1em;
}

/*Zone de recherche*/
.zone-recherche
{
	display: flex;
}

.bloc-map
{
	padding: 0.9vw 1.1vw 0.9vw 1.1vw;
	border-radius: 1vw 0 0 1vw;
	background-color: #E4E4E4;
}

.zone-texte
{
	width: 10.1vw;
	padding: 0.8vw;
	border: solid 0.05em #E4E4E4;
	font-family: 'Raleway';
	font-size: 0.9em;
	font-weight: bold;
}

button
{
	padding: 0.8vw;
	background-color: #0065FC;
	border: white;
	border-radius: 0 1vw 1vw 0;
	font-family: 'Raleway';
	font-size: 0.9em;
	font-weight: bold;
	color: white;
}

/*Filtres*/
.filtres
{
	display: flex;
	width: 66vw;
	justify-content: space-between;
	margin: 2vw 0 2.1vw 0;
}

.titre-filtres
{
	display: flex;
	align-items: center;
}

.titre-filtres-h3
{
	font-size: 1em;
}

.filtres h3
{
	margin: 0;
}

.bloc-thematiques
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60vw;
}

.thematique
{
	display: flex;
	align-items: center;
	border: solid 0.1em #CBCBCB;
	border-radius: 2vw;
	font-weight: bold;
}

.icone
{
	background-color: #DEEBFF;
	border-radius: 2vw;
	color: #0065FC;
}

.txt-filtre
{
	display: flex;
	justify-content: center;
	width: auto;
}

.thematique p
{
	margin: 0.7vw;
	font-size: 1em;
}

/*Filtre "Economique"*/
.fa-money-bill-wave
{
	padding: 0.9vw;
}

.logo-billet
{
	box-shadow: 0 0 0 0.086vw #DEEBFF;
}

/*Filtre "Familial"*/
.fa-child
{
	padding: 0.9vw 1.15vw 0.9vw 1.15vw;
}

.logo-bonhomme
{
	box-shadow: 0px 0px 0px 0.12vw #DEEBFF;
}

/*Filtre "Romantique"*/
.fa-heart
{
	padding: 1vw;
}

.logo-coeur
{
	box-shadow: 0 0 0 0.11vw #DEEBFF;
}

/*Filtre "Animaux autorisés"*/
.fa-dog
{
	padding: 1vw;
}

.logo-chien
{
	box-shadow: 0 0 0 0.11vw #DEEBFF;
}

/*Point infortmation*/
.information
{
	display: flex;
	align-items: center;
	margin-bottom: 2vw;
}

.bloc-icone
{
	display: flex;
	border-radius: 2vw;
	border: 0.05vw solid #DCDCDC;
	padding: 0.4vw 0.6vw 0.4vw 0.6vw;
	margin-right: 1vw;	
	width: 3.5px;
    height: 9px;
}

.fa-info
{
	color: #0065FC;
	font-size: 0.6em;
}

.information p
{
	font-size: 1em;
	margin: 0;
}

/*Main*/
/*bloc des 2 sections*/
.cadre-blocs
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bloc-hebergements, .bloc-activites
{
	display: flex;
	justify-content: space-between;
	width: 90.5vw;
}

.bloc-hebergements h2
{
	font-size: 1.17em;
}

.bloc-hebergements h3
{
	font-size: 0.87em;
}

.bloc-hebergements p
{
	font-size: 0.75em;
}

/*section "Hébergements à Marseille"*/
.hebergements
{
	width: 59vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2vw;
	background-color: #F2F2F2;
}

.titre-hebergements
{
	width: 52.5vw;
	margin: 2.5vw 0 1.5vw 0;
}

.bloc-cartes
{
	display: grid;
	grid-template-columns: 16vw 16vw 16vw;
	grid-template-rows: 13.1vw 13.1vw;
	grid-column-gap: 2.4vw;
	grid-row-gap: 2.5vw;
}

.carte-hebergement
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.3vw;
	background-color: white;
	border-radius: 8%;
	box-shadow: 0.2vw 0.1vw 0.5vw #D3D3D3;
}

.carte-hebergement em
{
	font-weight: bold;
}

.bloc-img
{
	width: 15.35vw;
	height: 7.5vw;
}

.carte-hebergement img
{
	object-fit: cover;
	width: 15.35vw;
	height: 7.5vw;
	border-radius: 1vw 1vw 0 0;
}

.bloc-carte h3
{
	margin-top: 0.6vw;
}

.bloc-texte
{
	width: 14.5vw;
	display: flex;
	flex-direction: column;
}

.nom-hotel
{
	margin: 0.5vw 0 0.5vw 0.2vw;
}

.prix-hotel
{
	margin: 0 0 0.5vw 0.2vw;
}

.quatre-etoiles
{
	display: flex;
	font-size: 0.75em;
	color:  #0065FC; 
}

.grise
{
	font-size: 1.07em;
	color:#D9D9D9;
}

.trois-etoiles
{
	display: flex;
	font-size: 0.75em;
	color:  #0065FC; 
}

.etoiles
{
	display: flex;
	font-size: 0.75em;
	color:  #0065FC; 
}

.footer-hebergements
{
	width: 52.5vw;
	margin-top: 2.6vw;
}

/*section "Les plus populaires*/
.populaires
{
	width: 28.5vw;
	height: 40.4vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2vw;
	background-color: #F2F2F2;
}

.header-populaires
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 22.6vw;
	margin: 2.5vw 0 1.5vw 0;
}

.bloc-cartesp
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 22.6vw;
	height: 32.8vw;
}

.carte-populaire
{
	display: flex;
	width: 22vw;
	height: 9vw;
	padding: 0.3vw;
	justify-content: space-between;
	background-color: white;
	border-radius: 1vw;
	box-shadow: 0.2vw 0.1vw 0.5vw #D3D3D3;
}

.carte-populaire em
{
	font-weight: bold;
}

.carte-populaire img
{
	object-fit: cover;
	width: 9vw;
	height: 9.04vw;
	border-radius: 1vw 0 0 1vw;
}

.bloc-textep
{
	width: 12vw;
}

.nom-hotelp
{
	margin: 1vw 2vw 0.5vw 0;
}

.prix-hotelp
{
	margin-bottom: 3vw;
}

.etoilep
{
	display: flex;
	font-size: 0.65em;
	color: #0065FC;
}

.quatre-etoilesp
{
	display: flex;
	font-size: 0.65em;
	color:  #0065FC;
}

/*Activités à Marseille*/
.bloc-activites
{
	display: flex;
	justify-content: space-between;
	width: 90.5vw;
	height: 39.5vw;
}

.activites
{
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.header-activites
{
	display:flex;
	height: 3vw;
	font-size: 0.75em;
}

.activites h2
{
	margin: 0;
}

.blocs-activites
{
	display: grid;
	grid-template-columns: 20.6vw 20.6vw 20.6vw 20.6vw;	
	grid-template-rows: 4.25vw 5.3vw 0.8vw 4.25vw 3.3vw;
	grid-column-gap: 2.68vw;
	grid-row-gap: 2.72vw;
	grid-template-areas: 
	"bloc-port bloc-pomegues bloc-calanques bloc-dame"
	"bloc-port bloc-pomegues bloc-calanques bloc-dame"
	"bloc-port bloc-pomegues bloc-calanques bloc-longchamp"
	"bloc-port bloc-frioul bloc-calanques bloc-longchamp"
	"bloc-port bloc-frioul bloc-calanques bloc-longchamp";
}

.img-activites
{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 1vw 1vw 0 0;
}

.bloc-activites h3
{
	font-size: 0.8em;
}

.bloc-txt
{
	padding-top: 0.9vw;
	padding-left: 1vw;
}

.carte-activite
{
	border-radius: 1vw;
	box-shadow: 0.2vw 0.1vw 0.5vw #D3D3D3;	
}

/*Vieux Port*/
.port
{
	grid-area: bloc-port;
}

.bloc-img-port
{
	height: 26vw;
}

.img-port
{
	object-position: 57% 50%;
}

/*Fort de Pomègues*/
.pomegues
{
	grid-area: bloc-pomegues;
}

.bloc-img-pomegues
{
	height: 12.6vw;
}

.img-pomegues
{
	object-position: 50% 40%;
}

/*Iles du Frioul*/
.frioul 
{
	grid-area: bloc-frioul;
}

.bloc-img-frioul
{
	height: 7vw;
}

.img-frioul
{
	object-position: 50% 25%;
}

/*Parc National des Calanques*/
.calanques
{
	grid-area: bloc-calanques;
}

.bloc-img-calanques
{
	height: 26vw;
}

.img-calanques
{
	object-position: 55% 50%;
}

/*Notre Dame-de-la-Garde*/
.dame
{
	grid-area: bloc-dame;
}

.bloc-img-dame
{
	height: 9vw;
}

.img-dame
{
	object-position: 50% 15%;
}

/*Parc Longchamp*/
.longchamp
{
	grid-area: bloc-longchamp;
}

.bloc-img-longchamp
{
	height: 10.7vw;
}

.img-longchamp
{
	object-position: 50% 15%;
}

/*Footer*/
footer
{
	width: 100vw;
	height: 13vw;
	background-color: #F2F2F2;
}

.bloc-footer
{
	display: flex;
	width: 69vw;
	justify-content: space-between;
	margin: 0 0 0 4.8vw;
}

.bloc-thematique h3
{
	font-size: 0.95em;
	margin: 2.8vw 0 1.3vw 0;
}

.bloc-thematique p
{
	font-size: 0.85em;
	margin: 0 0 0.7vw 0;
}

/*Version mobile*/
@media only screen and (min-device-width : 320px) and (max-device-width : 425px)
{
header
{
	width: auto;
	margin-left: 0;
}

/*Header du header*/
.logo
{
	background-image: url(images/logo_mobile.png);
    width: 43vw;
    height: 11vw;
    background-repeat: no-repeat;
    margin: 7vw 0 0 5vw;
}

nav
{
	width: 109vw;
    padding: 0;
}

ul
{
	padding: 0;
	flex-wrap: wrap;
}

nav li 
{
	font-size: 1.1em;
	border-bottom: 1vw solid white;
	padding-top: 0;
    margin-left: 0;
}

.sinscrire
{
	order: 1;
    display: flex;
    width: 61vw;
    height: 16vw;
    justify-content: flex-end;
    align-items: flex-end;
}

.li-nav-hebergements
{
	order: 2;
    width: 34vw;
    height: 13vw;
    display: flex;
    align-items: center;
    margin: 9vw 0 0 0;
    justify-content: center;
}

.li-nav-activites
{
	order: 3;
    width: 34vw;
    height: 13vw;
    display: flex;
    align-items: center;
    margin: 9vw 0 0 0;
    justify-content: center;
}

nav li:hover
{
	border-top: none;
	border-bottom: 0.85vw solid #0065FC;
}

.sinscrire:hover
{
	border-bottom: 1vw solid white;
}

.nav-hebergements
{
	margin: 0;
	order: 2;
}

.nav-activites
{
	margin: 0;
	order: 3;
}
/*Présentation*/
.presentation
{
	margin: 4vw 4vw 4vw 4vw;
}

.titre-presentation-h2
{
	font-size: 1.3em;
	margin: 0 5vw 1.5vw 0;
}

.txt-presentation 
{
    margin-bottom: 7vw;
}

.presentation p
{
	font-size: 0.97em;
}

/*Zone de recherche*/
.bloc-map
{
	padding: 4.5vw 4vw 4vw 4vw;
    border-radius: 4vw 0 0 4vw;
}

.zone-texte 
{
    width: 53vw;
	font-size: 1em;
	padding-left: 4vw;
	padding-right: 7vw;
}

.rechercher
{
	display: none;
}

.loupe
{
	padding: 0vw 4vw 0vw 0vw;
    border-radius: 0 4vw 4vw 0;
}

.fa-search
{
	box-shadow: 0 0 0 5vw #0065fc;
    border-radius: 0.05vw;
}

/*Filtres*/
.filtres
{
	display: block;
	width: auto;
	margin: 2vw 4vw 4vw 4vw;
}

.bloc-thematiques 
{
    width: auto;
	justify-content: normal;
    flex-wrap: wrap;
	margin-bottom: 4vw;
}

.thematique
{
	margin: 3.5vw 3vw 0 0;
	border-radius: 6vw;
}

.thematique p
{
	font-size: 0.9em;
}

.txt-filtre
{
	padding: 2.2vw;
}

.icone 
{
    background-color: #DEEBFF;
    border-radius: 6vw;
}

.logo-billet
{
	box-shadow: 0 0 0 0.75vw #deebff;
}

.fa-money-bill-wave 
{
    padding: 2.7vw;
}

.logo-bonhomme 
{
    box-shadow: 0px 0px 0px 0.5vw #deebff;
}

.fa-child 
{
    padding: 3.3vw 3.6vw 3.3vw 3.6vw;
}

.logo-coeur 
{
    box-shadow: 0 0 0 0.38vw #deebff;
}

.fa-heart 
{
    padding: 3.5vw;
}

.logo-chien 
{
    box-shadow: 0 0 0 0.4vw #deebff;
}

.fa-dog 
{
    padding: 3.5vw;
}

/*Point information*/
.information
{
	margin: 0 4vw 8vw 4vw;
}

.bloc-icone
{
	width: auto;
	padding: 1vw 1.7vw 1vw 1.7vw;
	margin-right: 3vw;
	border-radius: 3vw;
}

/*bloc des 2 sections*/
.bloc-hebergements
{
	justify-content: normal;
	width: 100%;
	flex-direction: column-reverse;
}

/*Section "Les plus populaires"*/
.populaires
{
	width: 100vw;
	height: max-content;
	border-radius: 0;
}

.header-populaires
{
	justify-content: normal;
    width: auto;
    margin: 9vw 4vw 6vw 4vw;
    font-size: 1.2em;
}

.titre-populaires
{
	margin-right: 31vw;
}

.bloc-cartesp
{
	width: 100%;
	height: auto;
	margin-bottom: 8vw;
}

.carte-populaire
{
	width: auto;
    height: 37vw;
	padding: 1.5vw;
	margin: 0 4vw 3vw 4vw;
    border-radius: 5vw;
	box-shadow: 0.05vw 0.05vw 3vw #d3d3d3;
}

.carte-populaire img 
{
    width: 34vw;
    height: 37vw;
	border-radius: 5vw 0 0 5vw;
}

.bloc-textep 
{
    width: 49vw;
}

.bloc-hebergements h2 
{
    font-size: 1.1em;
}

.bloc-hebergements h3 
{
    font-size: 0.97em;
}

.nom-hotelp 
{
    margin: 4vw 2vw 2vw 0;
}

.bloc-hebergements p 
{
    font-size: 0.85em;
}

.prix-hotelp 
{
    margin-bottom: 12vw;
}

/*Section "Hébergements à Marseille"*/
.hebergements
{
	width: 100%;
	margin-bottom: 8vw;
	border-radius: 0;
    background-color: white;
}

.hebergements h2
{
	font-size: 1.3em;
}

.titre-hebergements
{
	width: 100%;
	margin: 9vw 0 7vw 8vw;
}

.bloc-cartes
{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.carte-hebergement
{
    width: 87vw;
    height: 50vw;
	margin: 0 4vw 1.2vw 4vw;
	padding: 1.5vw;
	border-radius: 5vw;
	box-shadow: 1vw 1vw 3vw #eaeaea;
}

.bloc-img
{
    width: 87vw;
    height: 30vw;
}

.carte-hebergement img 
{
    object-fit: cover;
    width: 87vw;
    height: 30vw;
    border-radius: 5vw 5vw 0 0;
}

.bloc-texte 
{
    width: 85vw;
	margin: 2.5vw 0 0 3vw;
}

.nom-hotel 
{
    margin-bottom: 1.5vw;
}

.bloc-hebergements p 
{
    margin-bottom: 1.5vw;
}

.footer-hebergements 
{
    width: 100%;
    margin: 2.6vw 0 0 9vw;
}

/*Section "Activités à Marseille"*/
.bloc-activites 
{
    width: auto;
    height: max-content;
}

.header-activites 
{
    height: auto;
    font-size: 0.85em;
    margin-left: 4vw;
}

.bloc-activites h2
{
	font-size: 1.45em;
}

.blocs-activites 
{
    display: flex;
	flex-direction: column;
    margin: 7vw 4vw 9vw 4vw;
}

.carte-activite 
{
    border-radius: 5vw;
    box-shadow: 1vw 1vw 3vw #eaeaea;
    width: 91vw;
    height: 50vw;
    margin-bottom: 5vw;
}

.bloc-img-port 
{
    height: 36vw;
}

.img-activites 
{
    border-radius: 5vw 5vw 0 0;
}

.bloc-img-port
{
	height: 36vw;
}

.bloc-img-pomegues
{
	height: 36vw;
}

.bloc-img-frioul
{
	height: 36vw;
}

.bloc-img-calanques
{
	height: 36vw;
}

.bloc-img-dame
{
	height: 36vw;
}

.bloc-img-longchamp
{
	height: 36vw;
}

.bloc-txt 
{
    padding: 4.5vw;
}

.bloc-activites h3 
{
    font-size: 0.9em;
}

/*Footer*/
footer
{
	height: max-content;
	padding: 7vw 0 9vw 7vw;
	width: 93vw;
}

.bloc-footer
{
	width: auto;
    justify-content: normal;
    flex-direction: column;
}

.bloc-thematique
{
	margin-bottom: 6vw;
}

.bloc-thematique h3
{
	font-size: 1.1em;
    margin: 2.8vw 0 6vw 0;
}

.bloc-thematique p
{
	font-size: 0.98em;
    margin-bottom: 3vw;
}
}

/*Version tablette*/
@media only screen and (min-device-width : 426px) and (max-device-width : 768px) 
{
header
{
	width: auto;
	margin-left: 0;
}

/*Header du header*/
.header-du-header
{
	align-items: normal;
}

.logo
{
	background-image: url(images/logo_tablette.png);
    width: 18vw;
    height: 7vw;
    background-repeat: no-repeat;
    margin: 5vw 0 0 8vw;
}

nav
{
	width: 76vw;
	padding: 0;
}

ul
{
	padding: 0;
}

nav li 
{
	font-size: 1.1em;
	border-bottom: 1vw solid white;
	padding-top: 0;
    margin-left: 0;
}

.sinscrire
{
    order: 1;
    display: flex;
    width: 68vw;
    height: 11vw;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.2em;
}

.sinscrire:hover
{
	border-bottom: 1vw solid white;
}

.li-nav-hebergements
{
	order: 2;
    width: 37vw;
    height: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw 0 0 0;
}

.li-nav-activites
{
	order: 3;
    width: 37vw;
    height: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw 0 0 0;
}

nav li:hover
{
	border-top: none;
	border-bottom: 0.5vw solid #0065FC;
}

.nav-hebergements
{
	font-size: 1.2em;
}

.nav-activites
{
	font-size: 1.2em;
}

ul
{
	flex-wrap: wrap;
}

/*Présentation*/
.presentation
{
	margin: 4vw 4vw 4vw 7vw;
}

.titre-presentation-h2
{
	font-size: 1.3em;
    margin: 0 5vw 1.3vw 0;
}

.txt-presentation 
{
    margin-bottom: 5vw;
}

.presentation p
{
	font-size: 1.15em;
}

/*Zone de recherche*/
.bloc-map
{
	padding: 3vw;
    border-radius: 2.5vw 0 0 2.5vw;
}

.fa-map-marker-alt
{
	font-size: 1.3em;
}

.zone-texte 
{
    width: 43vw;
    font-size: 1em;
    padding-left: 4vw;
    padding-right: 0vw;
}

.loupe
{
	display: none;
}

.rechercher
{
	padding: 0 4vw 0 4vw;
    border-radius: 0 2.5vw 2.5vw 0;
    font-size: 1.05em;
}

/*Filtres*/
.filtres
{
	display: block;
	width: auto;
	margin: 2vw 4vw 4vw 7vw;
}

.bloc-thematiques 
{
    width: auto;
	justify-content: normal;
    flex-wrap: wrap;
	margin-bottom: 1vw;
}

.titre-filtres h3
{
	font-size: 1.15em;
}

.thematique
{
	margin: 3.5vw 12vw 0 0;
	border-radius: 6vw;
}

.thematique p
{
	font-size: 0.9em;
}

.txt-filtre
{
	padding: 1vw;
}

.icone 
{
    background-color: #DEEBFF;
    border-radius: 6vw;
}

.logo-billet
{
	box-shadow: 0 0 0 0.9vw #deebff;
}

.fa-money-bill-wave 
{
    padding: 0.95vw;
}

.logo-bonhomme 
{
    box-shadow: 0px 0px 0px 0.5vw #deebff;
}

.fa-child 
{
    padding: 1.45vw 1.8vw 1.45vw 1.8vw;
}

.logo-coeur 
{
    box-shadow: 0 0 0 0.38vw #deebff;
}

.fa-heart 
{
    padding: 1.57vw;
}

.logo-chien 
{
    box-shadow: 0 0 0 0.4vw #deebff;
}

.fa-dog 
{
    padding: 1.55vw;
}

/*Point information*/
.information
{
	margin: 0 0 5vw 7vw;
	align-items: center;
}

.bloc-icone
{
	width: auto;
    padding: 1.3vw 1.7vw 1.3vw 1.7vw;
    margin-right: 3vw;
    border-radius: 3vw;
}

.fa-info
{
	font-size: 0.65em;
}

/*bloc des 2 sections*/
.bloc-hebergements
{
	justify-content: normal;
	width: 100%;
	flex-direction: column-reverse;
}

/*Section "Les plus populaires"*/
.populaires
{
	width: max-content;
	height: max-content;
	border-radius: 0;
}

.header-populaires
{
	justify-content: space-between;
    width: 89vw;
    margin: 6vw 4vw 6vw 6vw;
    font-size: 1.2em;
}

.titre-populaires
{
	margin-right: 31vw;
}

.bloc-cartesp
{
	width: 100%;
	height: auto;
	margin-bottom: 8vw;
}

.carte-populaire
{
	width: 76vw;
    height: 29vw;
    padding: 1vw;
    margin: 0 11vw 3vw 11vw;
    border-radius: 4vw;
    box-shadow: 0.05vw 0.05vw 3vw #d3d3d3;
}

.carte-populaire img 
{
    width: 34vw;
    height: 29vw;
	border-radius: 4vw 0 0 4vw;
}

.bloc-textep 
{
    width: 38vw;
}

.bloc-hebergements h2 
{
    font-size: 1.2em;
}

.bloc-hebergements h3 
{
    font-size: 1.1em;
}

.nom-hotelp 
{
    margin: 4vw 5vw 3vw 0;
}

.bloc-hebergements p 
{
    font-size: 0.95em;
}

.prix-hotelp 
{
    margin-bottom: 8vw;
}

/*Section "Hébergements à Marseille"*/
.hebergements
{
	width: 100vw;
    margin-bottom: 6vw;
    border-radius: 0;
    background-color: white;
}

.hebergements h2
{
	font-size: 1.3em;
}

.titre-hebergements
{
	width: 100vw;
    margin: 6vw 0 5vw 12vw;
}

.bloc-cartes
{
	display: flex;
	flex-direction: column;
	width: 100vw;
	align-items: center;
}

.carte-hebergement
{
    width: 76vw;
    height: 39vw;
    margin: 0 11vw 3vw 11vw;
    padding: 1vw;
    border-radius: 4vw;
    box-shadow: 2vw 2vw 3vw #eaeaea;
}

.bloc-img
{
    width: 76vw;
    height: 25vw;
}

.carte-hebergement img 
{
    object-fit: cover;
    width: 76vw;
    height: 25vw;
    border-radius: 4vw 4vw 0 0;
}

.bloc-texte 
{
    width: 69vw;
    margin: 0.8vw 0 0 2vw;
}

.nom-hotel 
{
    margin-bottom: 1.5vw;
}

.bloc-hebergements p 
{
    margin-bottom: 1.5vw;
}

.footer-hebergements 
{
    width: 100%;
    margin: 2.6vw 0 0 13vw;
}

/*Section "Activités à Marseille"*/
.bloc-activites 
{
    width: 100vw;
    height: max-content;
}

.header-activites 
{
    height: auto;
    margin: 0 0 0 6.5vw;
}

.bloc-activites h2
{
	font-size: 1.8em;
}

.blocs-activites 
{
    display: flex;
	flex-direction: column;
    margin: 6vw 4vw 9vw 4vw;
}

.carte-activite 
{
    width: 78vw;
    height: 39vw;
    margin: 0 11vw 2vw 8vw;
	border-radius: 4vw;
	box-shadow: 1vw 1vw 3vw #eaeaea;
}

.bloc-img-port 
{
    width: 78vw;
    height: 30vw;
}

.bloc-img-port
{
	width: 78vw;
    height: 30vw;
}

.bloc-img-pomegues
{
	width: 78vw;
    height: 30vw;
}

.bloc-img-frioul
{
	width: 78vw;
    height: 30vw;
}

.bloc-img-calanques
{
	width: 78vw;
    height: 30vw;
}

.bloc-img-dame
{
	width: 78vw;
    height: 30vw;
}

.bloc-img-longchamp
{
	width: 78vw;
    height: 30vw;
}

.img-activites 
{
    border-radius: 4vw 4vw 0 0;
    width: 78vw;
    height: 30vw;
}

.bloc-txt 
{
    padding: 3.5vw;
}

.bloc-activites h3 
{
    font-size: 0.9em;
}

/*Footer*/
footer
{
	height: auto;
	padding: 5vw 0 3vw 5vw;
	width: 95vw;
}

.bloc-footer
{
	width: auto;
    justify-content: normal;
    flex-direction: column;
}

.bloc-thematique
{
	margin-bottom: 4vw;
}

.bloc-thematique h3
{
	font-size: 1.1em;
    margin: 2.8vw 0 6vw 0;
}

.bloc-thematique p
{
	font-size: 0.98em;
    margin-bottom: 3vw;
}
}

/*Version desktop*/
@media only screen and (min-device-width : 769px) and (max-device-width : 1440px) 
{
.loupe
{
	display: none;
}
}

/*Version HD*/
@media only screen and (min-device-width : 1441px) and (max-device-width : 2560px) 
{
/*Header du header*/
.logo
{
	background-image: url(images/logo_hd.png);
    width: 9vw;
    height: 3vw;
    background-repeat: no-repeat;
    margin-top: 3.55vw;
}

nav a
{
	font-size: 1.7em;
}

.sinscrire
{
	font-size: 1.7em;
}

/*Présentation*/
.titre-presentation-h2 
{
    font-size: 2em;
}

.presentation p
{
	font-size: 1.7em;
}

/*Zone de recherche*/
.bloc-map 
{
    padding: 1.4vw 1.5vw 1.4vw 1.5vw;
    border-radius: 1.3vw 0 0 1.3vw;
}

.fa-map-marker-alt
{
	font-size: 2em;
}

.zone-texte
{
	font-size: 1.8em;
	padding: 0.8vw 4vw 0.8vw 1.5vw;
}

.loupe
{
	display: none;
}

button 
{
    padding: 0.8vw 1.2vw 0.8vw 1.2vw;
	font-size: 1.8em;
}

/*Filtres*/
.titre-filtres-h3 
{
    font-size: 1.9em;
}

.fa-money-bill-wave 
{
    font-size: 2em;
	padding: 1vw;
}

.fa-child 
{
    padding: 1.1vw 1.3vw 1.05vw 1.3vw;
    font-size: 2em;
}

.fa-heart 
{
    padding: 1.1vw;
    font-size: 2em;
}

.fa-dog 
{
    padding: 1.2vw;
    font-size: 2em;
}

.thematique p 
{
    margin: 1vw 1.4vw 1vw 1vw;
    font-size: 1.7em;
}

/*Point information*/
.bloc-icone
{
	padding: 0.5vw 1vw 1.1vw 0.9vw;
}

.fa-info
{
	font-size: 1.5em;
}

.information p 
{
    font-size: 1.7em;
}

/*Bloc des 2 sections*/
.bloc-hebergements h2 
{
    font-size: 2em;
}

.bloc-hebergements h3 
{
    font-size: 1.5em;
}

.bloc-hebergements p 
{
    font-size: 1.2em;
}

/*Section "Hébergements à Marseille"*/
.etoiles
{
	font-size: 1.1em;
}

.quatre-etoiles
{
	font-size: 1.1em;
}

.trois-etoiles
{
	font-size: 1.1em;
}

.footer-hebergements h3
{
	font-size: 1.8em;
}

/*Section "Les plus populaires"*/
.fa-chart-line
{
	font-size: 2em;
}

.etoilesp
{
	font-size: 1em;
}

.quatre-etoilesp
{
	font-size: 1em;
}

/*Section "Activités à Marseille"*/
.header-activites
{
	height: 4vw;
}

.header-activites h2
{
	font-size: 2.8em;
}

.bloc-activites h3 
{
    font-size: 1.5em;
}

/*Footer*/
.bloc-thematique h3 
{
    font-size: 1.7em;
}

.bloc-thematique p 
{
    font-size: 1.5em;
}
}
