body 
{
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
	margin: 0;
}

#container 
{
	width: 100%;
}

h2, h3, p
{
	margin: 0;
}

/*Header*/
header
{
	display: flex;
	flex-direction: column;
	width: 90.5vw;
    margin-left: 4.7vw;
}

/*Header du header*/
.header-du-header
{
	display: flex;
	justify-content: space-between;
}

.logo
{
	background-image: url(images/logo.png);
    width: 7vw;
    height: 2vw;
    background-repeat: no-repeat;
    margin-top: 3.55vw;
}

nav ul
{
	display: flex;
	margin: 0;
	list-style: none;
}

nav li
{
	border-top: 0.15vw solid white;
	padding-top: 3.55vw;
	margin-left: 3.5vw;
}

nav li:hover
{
	border-top: 0.15vw solid #0065FC;
}

nav a
{
	font-size: 1em;
	color: black;
	text-decoration: none;
}

nav a:hover
{
	color: #0065FC;
}

.sinscrire
{
	font-size: 1em;
	font-weight: bold;
	color: #0065FC 
}

.sinscrire:hover
{
	border-top: 0.15vw solid white;
}

/*Présentation*/
.presentation
{
	display: flex;
	flex-direction: column;
}

.titre-presentation-h2
{
	font-size: 1.2em;
}

.titre-presentation
{
	margin-top: 2vw;
}

.txt-presentation
{
	margin: 1vw 0 1.3vw 0;
}

.presentation p
{
	font-size: 1em;
}

/*Zone de recherche*/
.zone-recherche
{
	display: flex;
}

.loupe
{
	display: none;
}

.bloc-map
{
	padding: 0.9vw 1.1vw 0.9vw 1.1vw;
	border-radius: 1vw 0 0 1vw;
	background-color: #E4E4E4;
}

.zone-texte
{
	width: 10.1vw;
	padding: 0.8vw;
	border: solid 0.05em #E4E4E4;
	font-family: 'Raleway';
	font-size: 0.9em;
	font-weight: bold;
}

button
{
	padding: 0.8vw;
	background-color: #0065FC;
	border: white;
	border-radius: 0 1vw 1vw 0;
	font-family: 'Raleway';
	font-size: 0.9em;
	font-weight: bold;
	color: white;
}

/*Filtres*/
.filtres
{
	display: flex;
	width: 66vw;
	justify-content: space-between;
	margin: 2vw 0 2.1vw 0;
}

.titre-filtres
{
	display: flex;
	align-items: center;
}

.titre-filtres-h3
{
	font-size: 1em;
}

.filtres h3
{
	margin: 0;
}

.bloc-thematiques
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60vw;
}

.thematique
{
	display: flex;
	align-items: center;
	border: solid 0.1em #CBCBCB;
	border-radius: 2vw;
	font-weight: bold;
}

.icone
{
	background-color: #DEEBFF;
	border-radius: 2vw;
	color: #0065FC;
}

.txt-filtre
{
	display: flex;
	justify-content: center;
	width: auto;
}

.thematique p
{
	margin: 0.7vw;
	font-size: 1em;
}

/*Filtre "Economique"*/
.fa-money-bill-wave
{
	padding: 0.9vw;
}

.logo-billet
{
	box-shadow: 0 0 0 0.086vw #DEEBFF;
}

/*Filtre "Familial"*/
.fa-child
{
	padding: 0.9vw 1.15vw 0.9vw 1.15vw;
}

.logo-bonhomme
{
	box-shadow: 0px 0px 0px 0.12vw #DEEBFF;
}

/*Filtre "Romantique"*/
.fa-heart
{
	padding: 1vw;
}

.logo-coeur
{
	box-shadow: 0 0 0 0.11vw #DEEBFF;
}

/*Filtre "Animaux autorisés"*/
.fa-dog
{
	padding: 1vw;
}

.logo-chien
{
	box-shadow: 0 0 0 0.11vw #DEEBFF;
}

/*Point infortmation*/
.information
{
	display: flex;
	align-items: center;
	margin-bottom: 2vw;
}

.bloc-icone
{
	display: flex;
	border-radius: 2vw;
	border: 0.05vw solid #DCDCDC;
	padding: 0.4vw 0.6vw 0.4vw 0.6vw;
	margin-right: 1vw;	
	width: 3.5px;
    height: 9px;
}

.fa-info
{
	color: #0065FC;
	font-size: 0.6em;
}

.information p
{
	font-size: 1em;
	margin: 0;
}

/*Main*/
/*bloc des 2 sections*/
.cadre-blocs
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bloc-hebergements, .bloc-activites
{
	display: flex;
	justify-content: space-between;
	width: 90.5vw;
}

.bloc-hebergements h2
{
	font-size: 1.17em;
}

.bloc-hebergements h3
{
	font-size: 0.87em;
}

.bloc-hebergements p
{
	font-size: 0.75em;
}

/*section "Hébergements à Marseille"*/
.hebergements
{
	width: 59vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2vw;
	background-color: #F2F2F2;
}

.titre-hebergements
{
	width: 52.5vw;
	margin: 2.5vw 0 1.5vw 0;
}

.bloc-cartes
{
	display: grid;
	grid-template-columns: 16vw 16vw 16vw;
	grid-template-rows: 13.1vw 13.1vw;
	grid-column-gap: 2.4vw;
	grid-row-gap: 2.5vw;
}

.carte-hebergement
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.3vw;
	background-color: white;
	border-radius: 8%;
	box-shadow: 0.2vw 0.1vw 0.5vw #D3D3D3;
}

.carte-hebergement em
{
	font-weight: bold;
}

.bloc-img
{
	width: 15.35vw;
	height: 7.5vw;
}

.carte-hebergement img
{
	object-fit: cover;
	width: 15.35vw;
	height: 7.5vw;
	border-radius: 1vw 1vw 0 0;
}

.bloc-carte h3
{
	margin-top: 0.6vw;
}

.bloc-texte
{
	width: 14.5vw;
	display: flex;
	flex-direction: column;
}

.nom-hotel
{
	margin: 0.5vw 0 0.5vw 0.2vw;
}

.prix-hotel
{
	margin: 0 0 0.5vw 0.2vw;
}

.quatre-etoiles
{
	display: flex;
	font-size: 0.75em;
	color:  #0065FC; 
}

.grise
{
	font-size: 1.07em;
	color:#D9D9D9;
}

.trois-etoiles
{
	display: flex;
	font-size: 0.75em;
	color:  #0065FC; 
}

.etoiles
{
	display: flex;
	font-size: 0.75em;
	color:  #0065FC; 
}

.footer-hebergements
{
	width: 52.5vw;
	margin-top: 2.6vw;
}

/*section "Les plus populaires*/
.populaires
{
	width: 28.5vw;
	height: 40.4vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2vw;
	background-color: #F2F2F2;
}

.header-populaires
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 22.6vw;
	margin: 2.5vw 0 1.5vw 0;
}

.bloc-cartesp
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 22.6vw;
	height: 32.8vw;
}

.carte-populaire
{
	display: flex;
	width: 22vw;
	height: 9vw;
	padding: 0.3vw;
	justify-content: space-between;
	background-color: white;
	border-radius: 1vw;
	box-shadow: 0.2vw 0.1vw 0.5vw #D3D3D3;
}

.carte-populaire em
{
	font-weight: bold;
}

.carte-populaire img
{
	object-fit: cover;
	width: 9vw;
	height: 9.04vw;
	border-radius: 1vw 0 0 1vw;
}

.bloc-textep
{
	width: 12vw;
}

.nom-hotelp
{
	margin: 1vw 2vw 0.5vw 0;
}

.prix-hotelp
{
	margin-bottom: 3vw;
}

.etoilep
{
	display: flex;
	font-size: 0.65em;
	color: #0065FC;
}

.quatre-etoilesp
{
	display: flex;
	font-size: 0.65em;
	color:  #0065FC;
}
